@import url("non-screen.css") handheld;

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
        display: none;
    }
  
html, body {
  height: 100%;
  height: 100vh; }

body {
	background:linear-gradient(rgb(47,150,16),rgb(48,62,143));
	width:100%;
	height:100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
margin-top: 10px;  }

  div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

body {
 
    background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: #333; }

a {
  text-decoration: none;
  color: #bb0000; }
  a:hover {
    color: #ee1eee; }

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100%;
  max-width: 750px;
  margin: 0px auto; }
  #mainContainer #mainContentBlock {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 20px; }
    #mainContainer #mainContentBlock #mainContent {
      background-color: #fff;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 20px;
      margin: 0px auto;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-line-pack: center;
          align-content: center; }
      #mainContainer #mainContentBlock #mainContent #avatarImageBlock {
        width: 300px;
        height: 300px;
        margin: 10px auto;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
       box-shadow: 5px 5px 35px 5px #ee1eee;
        opacity: 0.95; }
      #mainContainer #mainContentBlock #mainContent #introBox {
        text-align: center;
        background-color: #f8f8f8;
        background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
        background: radial-gradient(circle, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
        margin: 0px;
        padding: 10px 50px; }
        #mainContainer #mainContentBlock #mainContent #introBox #linkBox {
          margin: 10px auto;
          padding: 0px;
          list-style: none;
          max-width: 400px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          #mainContainer #mainContentBlock #mainContent #introBox #linkBox li {
            margin: 5px;
            border-radius: 15px;
            display: inline; }
            #mainContainer #mainContentBlock #mainContent #introBox #linkBox li .link-icon {
              background-color: #f2c700;
              padding: 6px 4px;
              box-shadow: 0px 1px 3px #cccccc;
              border-radius: 50%; }
              #mainContainer #mainContentBlock #mainContent #introBox #linkBox li .link-icon:hover {
                background-color: #ffd40d; }
            #mainContainer #mainContentBlock #mainContent #introBox #linkBox li a .description {
              display: none;
              font-size: 0.8em; }
            #mainContainer #mainContentBlock #mainContent #introBox #linkBox li.featured {
              border: 1px solid #f2c700;
              padding-right: 15px;
              box-shadow: 0px 1px 3px #cccccc; }
              #mainContainer #mainContentBlock #mainContent #introBox #linkBox li.featured .link-icon {
                box-shadow: none; }
              #mainContainer #mainContentBlock #mainContent #introBox #linkBox li.featured:hover {
                border-color: #ffd40d;
                background-color: #ffd40d; }
                #mainContainer #mainContentBlock #mainContent #introBox #linkBox li.featured:hover .link-icon {
                  background-color: #ffd40d; }
              #mainContainer #mainContentBlock #mainContent #introBox #linkBox li.featured a .description {
                color: #333;
                padding-left: 5px;
                padding-right: 2px; }
              #mainContainer #mainContentBlock #mainContent #introBox #linkBox li.featured .description {
                display: inline; }
      #mainContainer #mainContentBlock #mainContent #fullBioBox {
        padding: 20px 40px; }



.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}







.fa-email {
  background:#xf282;;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

div.footer {
  text-align: center;
  font-size: 1.0em;
   }
